<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastAPI Chat Box</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles/index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>PumpRAG💪🏼</h1>
        Enable RAG   
        <label class="switch">
          <input type="checkbox" id="rag-switch">
          <span class="slider round"></span>
        </label>
    </div>
      <div class="chat-box" id="chat-box"></div>
      <div class="input-box">
        <input type="text" id="message-input" placeholder="Type a message..." />
        <button id="send-button">Send</button>
      </div>
    </div>

    <script src="{{ url_for('static', path='scripts/index.js') }}"></script>
  </body>
</html>
