body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 700px;
  height: 80vh;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1e1e1e;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #333;
}

.header h1 {
  margin: 0;
  color: #fff;
}

.chat-box {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  background-color: #1e1e1e;
}

.message-container {
  display: flex;
  margin-bottom: 15px;
}

.message-container.sent {
  justify-content: flex-end;
}

.message-container.received {
  justify-content: flex-start;
}

.message {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  word-wrap: break-word;
}

.sent {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  justify-content: flex-end;
}

.received {
  background-color: #444;
  color: #e0e0e0;
  border-radius: 20px;
  justify-content: flex-start;
}

.icon {
  margin-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text {
  word-break: break-word;
}

.timestamp {
  font-size: 0.75em;
  color: #bbb;
  margin-top: 5px;
  text-align: right;
}

.input-box {
  display: flex;
  padding: 15px;
  background-color: #333;
  border-top: 1px solid #444;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #555;
  margin-right: 10px;
  outline: none;
  background-color: #444;
  color: #e0e0e0;
  font-size: 16px;
}

.input-box button {
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.input-box button:hover {
  background-color: #0056b3;
}


.icon {
  width: 5rem;
  height: 5rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
}

.message.sent .icon {
  background-image: url('./user.png');
}

.message.received .icon {
  background-image: url('./chatbot.png');
}